<html>
  <head>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>
  <body>

    {% comment %} render files from snippets {% endcomment %}
    {% render 'header' %}

    {% comment %} render files from section {% endcomment %}
    {% section 'example-header' %}

    {{ content_for_layout }}
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>