<html>
  <head>
    {% comment %} shopify,plugin to inject script {% endcomment %}
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% comment %} template data will be plugin {% endcomment %}

    {% render 'header' %}
    {{ content_for_layout }}
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>