<html>
  <head>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {% comment %}to install alphine js  https://alpinejs.dev/essentials/installation{% endcomment %}
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
  </head>
  <body>

    {% comment %} render files from snippets {% endcomment %}
    {% section 'header' %}
    <div>this layout is from theme.liquid</div>

    <div class="whitespace-nowrap">===================================above template=================================================</div>
    {{ content_for_layout }}
    <div class="whitespace-nowrap">===================================below template=================================================</div>
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>