<p>Below data from shopify pages</p>
<p>sales channel -> online store -> add pages ->give title and content -> save -> from navigation -> add new navigation</p>
<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

<p>Ajax call below</p>
<a href="{{ routes.cart_url }}">{{ "templates.cart.go_to_cart" | t }}</a>