<template class="argoid-product-card-design">
  <div class="product-card">
    <div class="product-card__upper-container">
      <img
        class="argoid-product-image"
        src="https://cdn.pixabay.com/photo/2022/08/27/00/11/plant-7413415_960_720.png"
        alt="default image">
    </div>
    <div class="product-card__lower-container">
      <p class="argoid-product-title">default</p>
      <p class="argoid-product-subTitle">default</p>
      <p class="argoid-product-price">default</p>
    </div>
  </div>
</template>